@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3 row">
    <label for="CurrencyCode" class="col-sm-2 col-form-label text-end">Select Currency:</label>
    <div class="col-auto">
        <select @bind="CurrencyCode" class="form-select form-select-sm">
            @foreach (var currency in NbpExchangeApp.Library.Constants.CurrencyCodes)
            {
                <option value="@(currency.Key)">[@(currency.Key)] - @(currency.Value)</option>
            }
        </select>
    </div>
</div>

@code {
    [Parameter]
    public required string currencyCode { get; set; }

    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }

    private string CurrencyCode
    {
        get => currencyCode;
        set
        {
            if (currencyCode != value)
            {
                currencyCode = value;
                OnValueChanged.InvokeAsync(currencyCode);
            }
        }
    }

}