@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3 row">
    <label for="SelectedTable" class="col-sm-2 col-form-label text-end">Select Date:</label>
    <div class="col-auto">
        <InputDate id="datePicker" class="form-control form-control-sm" style="max-width: auto;" @bind-Value="SelectedDate" />
    </div>
</div>


@code {
    public DateTime selectedDate { get; set; } = DateTime.Today;

    [Parameter]
    public EventCallback<DateTime> OnValueChanged { get; set; }

    private DateTime SelectedDate
    {
        get => selectedDate;
        set
        {
            if (selectedDate != value)
            {
                selectedDate = value;
                OnValueChanged.InvokeAsync(selectedDate);
            }
        }
    }
}