@namespace NbpExchangeApp.Components.Shared

<div class="alert alert-danger" role="alert" style="width: 25%;">
    @errorMessage
</div>

@code {
    [Parameter]
    public required string errorMessage { get; set; }
}