<div class="top-row ps-4 navbar navbar-dark">
    <div class="container-fluid">
        <a  class="navbar-brand fw-bold text-shadow"
            href=""
            style="text-shadow: 2px 2px 5px lightgray; font-size: 1.5em;">NBP Exchange</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExchangeTables">
                <span class="bi bi-currency-exchange"></span> Exchange Tables
            </NavLink>
        </div>

    </nav>
</div>

