@namespace NbpExchangeApp.Components.Pages

@page "/ExchangeTables"

@using NbpExchangeApp.BusinessModels
@using NbpExchangeApp.Services
@using NbpExchangeApp.Components
@using NbpExchangeApp.Components.Shared

@inject NbpExchangeRatesService NbpExchangeRatesService

@rendermode InteractiveServer

<ExchangeTablePicker OnValueChanged="HandleExchangeTableChange"/>

<DatePicker OnValueChanged="HandleDateChanged"/>

<button type="button" class="btn btn-primary" @onclick="FetchExchangeRates" disabled="@exchangeRates">Fetch Exchange Rates</button>

<ExchangeTable exchangeRates="@exchangeRates" errorMessage="@errorMessage" isDataLoading="@isDataLoading" />

@code {
    private string selectedTable = "A"; // Default value
    private ExchangeRates? exchangeRates;
    private string? errorMessage;
    private bool isDataLoading = false;
    private DateTime selectedDate {get; set;} = DateTime.Today;

    private string SelectedTable
    {
        get => selectedTable;
        set
        {
            if (selectedTable != value)
            {
                selectedTable = value;
                ResetValuesDependOnSelectedValues();
            }
        }
    }

    private void HandleDateChanged(DateTime value)
    {
        selectedDate = value;
        ResetValuesDependOnSelectedValues();
    }

    private void HandleExchangeTableChange(string value)
    {
        selectedTable = value;
        ResetValuesDependOnSelectedValues();
    }

    private void ResetValuesDependOnSelectedValues()
    {
        exchangeRates = null; // Reset exchangeRates when selectedTable changes
        errorMessage = null; // Reset errorMessage when selectedTable changes
    }

    async Task FetchExchangeRates()
    {
        // Display spinner.
        isDataLoading = true;
        // Fetch exchange rates.
        (exchangeRates, errorMessage) = await NbpExchangeRatesService.GetExchangeTableRatesAsync(
            selectedTable,
            selectedDate.ToString("yyyy-MM-dd")
        ).ConfigureAwait(false);
        // Hide spinner.
        isDataLoading = false;
    }
}