@using Microsoft.AspNetCore.Components.Web

@page "/"


<PageTitle>Home</PageTitle>

<h1><b><u>NBP Exchange App</u></b></h1>

The NBP Exchange App is a web application designed to provide users with real-time exchange rate information from the National Bank of Poland (NBP). The application is built using Blazor, a framework for building interactive web UIs with C# and .NET.

<br />
<br />

<h4><b><u>About NBP:</u></b></h4>

Narodowy Bank Polski [ National Bank of Poland ] is the central bank of the Republic of Poland. Its tasks are stipulated in the Constitution of the Republic of Poland, the Act on Narodowy Bank Polski and the Banking Act. The fundamental objective of NBP’s activity is to maintain price stability. Under the Monetary Policy Strategy beyond 2003 drawn up by the Monetary Policy Council, the objective of NBP is to stabilise the inflation rate at the level of 2.5% with a permissible fluctuation band of +/- 1 percentage point.

<br />
<br />

<b><u>The most important areas of activity of NBP are:</u></b>

<br />
<br />

<ul>
    <li>monetary policy,</li>
    <li>issue of currency,</li>
    <li>development of payment system,</li>
    <li>management of official reserves,</li>
    <li>education and information,</li>
    <li>services to the State Treasury.</li>
</ul>
Narodowy Bank Polski is responsible for the stability of the national currency. Fulfilling this constitutional obligation, NBP develops and implements the monetary policy strategy and the annual monetary policy guidelines. Through the management of the official reserves NBP ensures the requisite level of the State’s financial security. As an issuer of currency, NBP maintains the liquidity of cash payments. An important objective of NBP is guarding the stability of the financial system. As part of its supervisory and regulatory functions, NBP oversees the liquidity, efficiency and security of the payment system. It also contributes to the development of a secure infrastructure of the financial market.

<br />
<br />

<h5><b>Official website:</b> <a href="https://www.nbp.pl">NBP</a></h5>
