@namespace NbpExchangeApp.Components.Pages

@page "/TestComponent"

@rendermode InteractiveServer

<div class="form-group" style="display: inline-block; max-width: auto;">
    <label for="datePicker" style="display: inline-block; max-width: auto;">Select Date:</label>
    <InputDate id="datePicker" class="form-control" style="display: inline-block; max-width: auto;" @bind-Value="selectedDate" />
</div>

<br />
<br />

<span>@selectedDate</span>

<br />
<br />

<span>@selectedDate.ToString("yyyy-MM-dd")</span>

@code {
    private DateTime selectedDate = DateTime.Today;
}